DJANGO_ENVIRONMENT="dev"
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_HOST=
# DB_URL=postgresql://neondb_owner:npg_yXBt1jbqF0Cu@ep-restless-frog-adpdus22-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=